---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Catálogo de Serviço">
	<div class="flex-col">
		<div class="mb-8">
			<h2 class="text-xl">Leitura Geral / R$200</h2>
			<h3 class="italic">Duração 40 min a 1 hora</h3>
			<p class="mt-2">
				Leitura profunda e completa direcionada à análise de uma área
				específica da sua vida, visando esclarecer suas dúvidas sobre
				determinado assunto. Vamos ver as possíveis previsões,
				direcionamentos e como você deve contribuir para fluidez da
				situação, aconselhamentos, etc. O tema é livre (amor, estudos,
				profissional, trabalho). A leitura é recomendada para quem busca
				por esclarecimento sobre uma área específica. Não é uma leitura
				de perguntas, a leitura é completa e detalhada sobre um assunto
				específico. O atendimento é recomendado para quem deseja uma
				consulta de tarô mais completa!
			</p>
		</div>

		<div class="mb-8">
			<h2 class="text-xl">Leitura Livre / R$ 130</h2>
			<h3 class="italic">Duração 30 min</h3>
			<p class="mt-2">
				Neste atendimento você receberá um detalhamento maior da
				resposta do tarô sobre os assuntos que escolher. A leitura te
				oferece total autonomia durante a escolha de qual assunto
				precisa de um direcionamento e esclarecimento ao assunto que
				esteja gerando dúvida e/ou angústia. É uma leitura
				esclarecedora, sem limite de perguntas. O atendimento é
				recomendado para quem deseja uma consulta de tarô mais dinâmica
				e direcionada.
			</p>
		</div>

		<div class="mb-8">
			<h2 class="text-xl">Leitura Mensal Completa / R$250</h2>
			<h3 class="italic">Duração 40 min a 1 hora</h3>
			<p class="mt-2">
				Essa é uma leitura completa para as áreas amorosa, profissional,
				financeira, pessoal e espiritual do seu mês. Repleta de
				conselhos, direcionamentos, alertas, previsão de possíveis
				acontecimentos, etc. É uma leitura auxiliar para se organizar e
				planejar seu mês. Com o bônus de 3 perguntas simples.
			</p>
		</div>

		<div class="mb-8">
			<h2 class="text-xl">Leitura Completa de Análise Amorosa / R$170</h2>
			<h3 class="italic">Duração 40 min</h3>
			<p class="mt-2">
				Este atendimento visa analisar amplamente ambos os lados da
				relação. Dúvidas que podem ser respondidas: o que se passa nos
				pensamentos, sentimentos, futuro da relação, compatibilidade do
				casal, etc. Essa leitura é recomendada para pessoas
				comprometidas, que estejam conhecendo alguém ou que desejam
				entender melhor sobre a relação e o propósito dela.
			</p>
		</div>

		<div class="mb-8">
			<h2 class="text-xl">Leitura Express / R$45</h2>
			<h3 class="italic">Duração 15 a 20 min</h3>
			<p class="mt-2">
				Este atendimento é direcionado a assuntos que não requerem muita
				profundidade e contexto. Será feita a leitura da sua energia
				atual diante da situação, esclarecimento da sua questão e
				conselho final.
			</p>
		</div>

		<div class="mb-8">
			<h2 class="text-xl">Pergunta Avulsa Simples / R$20</h2>
			<h3 class="italic">Duração 10 min</h3>
			<p class="mt-2">
				Atendimento rápido, esclarecedor e direcionado a dúvidas simples
				e sem muitas questões envolvidas. Jogo simples de apenas 3-5
				cartas.
			</p>
		</div>
	</div>
</BaseLayout>
