---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Dúvidas Frequentes">
	<div class="flex-col">
		<div class="mb-8">
			<h2 class="text-xl">Como funciona o atendimento?</h2>
			<p class="mt-2">
				O atendimento é realizado via WhatsApp através de fotos e áudios
				de sua leitura. Toda e qualquer leitura será agendada após a
				confirmação do pagamento.
			</p>
		</div>

		<div class="mb-8">
			<h2 class="text-xl">O que é o tarô?</h2>
			<p class="mt-2">
				O tarô é uma ferramenta de leitura energética, composto por 78
				cartas que irão lhe ampliar seus horizontes.
			</p>
		</div>

		<div class="mb-8">
			<h2 class="text-xl">Leituras de tarô são sempre precisas?</h2>
			<p class="mt-2">
				O tarô é uma ferramenta de leitura energética, ou seja, lidamos
				com o que temos no momento. A partir do momento que a energia
				não se faz mais presente daquela maneira os caminhos podem
				mudar.
			</p>
		</div>

		<div class="mb-8">
			<h2 class="text-xl">Posso perguntar sobre qualquer coisa?</h2>
			<p class="mt-2">
				De acordo com o que eu acredito e preservo na ética profissional
				do meu trabalho, não. Não respondo perguntas sobre saúde (isso
				inclui gravidez), relacionamentos de terceiros (você não está
				envolvido), roubo, desaparecimento e qualquer outro assunto que
				tenha relação com algum desses citados.
			</p>
		</div>
	</div>
</BaseLayout>
