---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Página Inicial" homePage="true">
	<p>
		O tarô é um mapa sagrado que nos conduz através das paisagens da vida,
		revelando os caminhos que podemos escolher. Ele não prevê o futuro, mas
		ilumina os caminhos que se desdobram diante de nós.
	</p>
</BaseLayout>
