---
const { title, homePage } = Astro.props;

let finalTitle = null;

if (homePage) {
    finalTitle = "Vitória Tarô";
} else {
    finalTitle = `Vitória Tarô | ${title}`;
}
---

<html lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="styles/global.css" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{finalTitle}</title>
    </head>
    <body
        class="flex flex-col h-screen lg:max-w-2xl md:max-w-xl sm:max-w-md max-w-sm mx-auto bg-neutral-100 dark:bg-neutral-900 dark:text-white"
    >
        <header>
            <img
                src="logo-with-text.svg"
                alt="Vitória Tarô"
                class="w-24 h-24 mx-auto sm:w-32 sm:h-32 lg:w-48 lg:h-48"
            />
            <nav class="mt-4 mb-8 lg:text-2xl md:text-xl">
                <ul class="flex flex-row space-x-4">
                    <li>
                        <a class="font-bold underline" href="/">
                            Página Inicial
                        </a>
                    </li>
                    <li>
                        <a class="font-bold underline" href="/catalogo">
                            Catálogo de Serviço
                        </a>
                    </li>
                    <li>
                        <a class="font-bold underline" href="/duvidas">
                            Dúvidas Frequentes
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="grow mx-auto">
            <slot />
        </main>
        <footer class="mb-8 mx-auto">
            <p>&copy; 2024 Vitória Tarô</p>
        </footer>
    </body>
</html>
